
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" ng-app="calendarDemoApp" id="top">
<head>
    <title>Angular Calendar Demo</title>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/fullcalendar.css">
    <link rel="stylesheet" href="~/Content/calendarDemo.css" />
    <script src="~/Scripts/jquery.js"></script>

    <script src="~/Scripts/jquery-ui.js"></script>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/project/app.js"></script>
    <script src="~/Scripts/project/CalendarCtrl.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/fullcalendar/gcal.js"></script>
    <script src="~/Scripts/calendar.js"></script>
    @*Signal R*@
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.0.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    
</head>
<body data-spy="scroll">
    <div role="main">
        <div class="container">
            <section id="directives-calendar" ng-controller="CalendarCtrl">
                <div class="page-header">
                    <h1>My Calendar Demo</h1>
                </div>
                <div class="well">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid">
                                <input type="text" ng-model="eventTitle" placeholder="Title"/>                                
                            </div>

                            <div class="row-fluid">
                                <input type="text" ng-model="eventStart" placeholder="Start" data-datepicker-popup="EEE d MMM yy"/>                                
                            </div>

                            <div class="row-fluid">
                                <input type="text" ng-model="eventEnd" placeholder="End" data-datepicker-popup="EEE d MMM yy"/>                                
                            </div>


                            <div class="btn-group calTools">
                                @*<button class="btn" ng-click="changeLang()">
                                    {{changeTo}}
                                </button>
                                <button class="btn" ng-click="addRemoveEventSource(eventSources,eventSource)">
                                    Toggle Source
                                </button>*@
                                <button type="button" class="btn btn-primary" id="add">
                                    Add Event
                                </button>
                            </div>

                            <ul class="unstyled">
                                <li ng-repeat="e in events">
                                    <div class="alert alert-info">
                                        <a class="close" ng-click="remove($index, e)"><i class="icon-remove"></i></a>
                                        <b> <input ng-model="e.title"></b>
                                        {{e.start | date:"MMM dd"}} - {{e.end | date:"MMM dd"}}
                                    </div>
                                </li>
                            </ul>

                        </div>

                        <div class="span8">
                            <tabset>
                                <tab select="renderCalender(myCalendar1);">
                                    <tab-heading>
                                        <i class="glyphicon glyphicon-bell"></i> Calendar
                                    </tab-heading>
                                    <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                                        <h4>{{alertMessage}}</h4>
                                    </div>
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar1)">AgendaDay</button>
                                            <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar1)">AgendaWeek</button>
                                            <button class="btn btn-success" ng-click="changeView('month', myCalendar1)">Month</button>
                                        </div>
                                    </div>
                                    <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>
